{erl_opts, [
			debug_info,
			warnings_as_errors
		   ]}.
{deps, [
		%%{riak_core, "2.2.8", {pkg, riak_core_ng}},
		{parse_trans, "3.0.0"},
		{riak_core, {git, "https://github.com/getong/riak_core", {branch, "fifo-0.9.2"}}},	%% temporary used it
		{folsom, {git, "https://github.com/getong/folsom", {branch, "uniform_s_util"}}},
		{exometer_core, {git, "https://github.com/Feuerlabs/exometer_core", {branch, "master"}}},
		{basho_stats, {git, "https://github.com/basho/basho_stats", {branch, "develop"}}},
		{chash, "0.1.2"}
	   ]}.

{relx, [{release, { riak_core_demo, "0.1.0" },
		 [riak_core_demo,
		  rand_compat,
		  basho_stats,
		  bear,
		  chash,
		  clique,
		  cuttlefish,
		  edown,
		  eleveldb,
		  exometer_core,
		  folsom,
		  getopt,
		  goldrush,
		  hut,
		  lager,
		  meck,
		  parse_trans,
		  pbkdf2,
		  poolboy,
		  riak_ensemble,
		  riak_sysmon,
		  setup,
		  sasl]},

		{sys_config, "./config/sys.config"},
		{vm_args, "./config/vm.args"},

		{dev_mode, true},
		{include_erts, false},

		{overlay, [
				   {template, "_build/default/lib/cuttlefish/priv/erlang_vm.schema", "lib/11-erlang_vm.schema"},
				   {template, "_build/default/lib/riak_core/priv/riak_core.schema", "lib/12-riak_core.schema"},
				   {template, "_build/default/lib/riak_sysmon/priv/riak_sysmon.schema", "lib/15-riak_sysmon.schema"},
				   {template, "_build/default/lib/eleveldb/priv/eleveldb.schema", "lib/21-leveldb.schema"}
				  ]},
		{extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
							{include_erts, true}]}]
			}]
}.
