{erl_opts, [
	debug_info,
	warnings_as_errors
	]}.
{deps, [
	   %%{riak_core, "2.2.8", {pkg, riak_core_ng}},
       {parse_trans, {git, "git://github.com/uwiger/parse_trans.git", {tag,"3.0.0"}}},
       {riak_core, {git, "https://github.com/getong/riak_core", {branch, "random_module_name"}}},	%% temporary used it
       {folsom, {git, "https://github.com/getong/folsom", {branch, "uniform_s_util"}}},
       {exometer_core, {git, "https://github.com/getong/exometer_core", {branch, "rand_module"}}},
       {basho_stats, {git, "https://github.com/basho/basho_stats", {branch, "develop"}}},
	   {chash, "0.1.2"}
]}.

{relx, [{release, { riak_core_ng_demo, "0.1.0" },
         [riak_core_ng_demo,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
